/* Стили для базовых элементов */
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
}

h1 {
	color: #fff;
	font-weight: bold;
}

h2, h3 {
	color: #2c3e50;
	font-weight: bold;
}

p {
	line-height: 1.6;
	margin-bottom: 15px;
}

/* Стили для навигации */
nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #3498db;
	font-weight: bold;
}

nav ul li a:hover {
	color: #2980b9;
}

/* Стили для header */
header {
	background-color: #34495e;
	color: white;
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 36px;
}

/* Стили для секций */
section {
	padding: 50px 20px;
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#catalog {
	background-color: #ecf0f1;
}

h2 {
	font-size: 28px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

ul {
	padding-left: 20px;
}

ul li {
	margin-bottom: 10px;
}

/* Стили для изображений */
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-top: 20px;
}

/* Стили для отзывов */
blockquote {
	background-color: #ecf0f1;
	border-left: 5px solid #3498db;
	padding: 20px;
	margin-bottom: 20px;
	font-style: italic;
}

/* Стили для footer */
footer {
	background-color: #34495e;
	color: white;
	text-align: center;
	padding: 15px;
	position: fixed;
	width: 100%;
	bottom: 0;
}

/* Респонсивность для мобильных устройств */
@media (max-width: 768px) {
	header h1 {
			font-size: 28px;
	}

	nav ul li {
			display: block;
			margin-bottom: 10px;
	}

	section {
			padding: 30px 15px;
	}

	blockquote {
			font-size: 14px;
	}
}
